<div style="display: flex; align-items: center; padding: 10px 0;">
  <img src="https://cdn.shopify.com/s/files/1/0782/2547/3809/files/delivery-time.png?v=1728978337" alt="Доставка" width="24" height="24" style="width: 24px; height: 24px; margin-right: 5px;">
  <span style="font-size: 14px; line-height: 14px;">Відправлення 1-3 робочих дні.</span>
  <a href="/pages/delivery-and-payment" style="color: #e46630; text-decoration: underline; margin-left: 5px; font-size: 14px; line-height: 14px;">
    Доставка та повернення
  </a>
</div>
