<div style="display: flex; align-items: center;">
  <img src="https://cdn.shopify.com/s/files/1/0782/2547/3809/files/free-delivery.png?v=1728978444" alt="Безкоштовна доставка" width="24" height="24" style="margin-right: 5px;">
  <span style="font-size: 14px; line-height: 14px;">Безкоштовна доставка для всіх замовлень від 1500 грн!</span>
</div>
