{% if product.metafields.custom.short_description %}
  <p class="custom-short__description">{{ product.metafields.custom.short_description }}</p>
{% else %}
  <p>No short description available.</p>
{% endif %}
